.wrapper {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}

.content {
    margin-top: 15px;
    width: 60%;
    height: 100%;
    border: 1px solid var(--gray-light);
    border-radius: 15px;
}

.product {
    display: flex;
    margin: 60px 0;
}

img {
    padding: 15px;
}

.produc-details {
    display: flex;
    flex-direction: column;
    padding: 0 15px;

    .product-name {
        margin: 20px 0;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 30px;
        color: #545454;
        margin-left: auto;
        order: 2;
    }

    .product-price {
        margin: 20px 0;
        font-weight: 700;
        font-size: 3.6rem;
        line-height: 16px;
        color: #6677f7;
        margin-left: auto;
        order: 2;
    }
    .product-category {
        display: flex;
        margin-left: auto;
        order: 2;
    }

    .product-category-id {
        padding: 2px 10px;
        margin: 10px 0;
        margin-left: 5px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        background-color: #edeef2;
        color: #545563;
        border-radius: 15px;
    }
    .product-seller {
        flex: 1;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 16px;
        color: var(--text-musinsa-color);
        margin-left: auto;
        order: 2;
    }
}

.btn {
    display: flex;
    flex: 1;
    margin-left: auto;
    order: 2;
    justify-content: center;

    a {
        display: flex;
        width: 150px;
        height: 50px;
        justify-content: center;
        align-items: center;
        justify-items: center;
        border-radius: 15px;
        margin: 0 10px;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 16px;
    }

    .seller-link {
        border: 2px solid #3b5998;
        color: #3b5998;
    }
    .seller-link:hover {
        color: #ff7b00;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }

    .home {
        color: #00aced;
        border: 2px solid #00aced;
    }
    .home:hover {
        color: #ff7b00;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
}
